.container {
    display: flex;
    
    height: 50vh;  
    display: flex;
            flex-direction: column;
            align-items: center;  
}

.health-bar {
    background-color: red;
    height: 20px;
    width: 100px; 
}

.outer {
   
    height: 20px;
    width: 100px; 
}